<%- include('partials/header.ejs') %>
    <!-- Contact Us Section -->
<div id="main-container">
    <section class="about hero" >
        <div>
            <img src="images/home6.jpg" alt="" height="800px">
        </div>
        <div class="text-block" id="contactText">
            <h1>Contact Us</h1>
            <p>If you want to make a purchase or have any questions, feel free to reach out to us. Here are our contact informations:</p>
            <p>Instagram: <a href="https://www.instagram.com/royal_place2_?igsh=MW90cWNzam4xNHVlcA%3D%3D&utm_source=qr">Royal Place</a></p>
            <p>Telegram: <a href="https://t.me/placeroyal">Royal Place</a></p>
            <p>Phone: +90 840 94 35</p>
            <p>Email: gomezgogo2022@gmail.com</p>
        </div>    
    </section>
    <%- include('partials/footer.ejs') %>
    
