<%- include('partials/header.ejs') %>
    <div id="main-container">
        <div id="homePage">
            <h1>Welcome to Royal Place</h1>
        </div>
       <!-- <div class="carousel-container">
            <div class="carousel-slide">
                <img src="images/home1.jpg" alt="Photo 1">
                <img src="images/home2.jpg" alt="Photo 2">
                <img src="images/home5.jpg" alt="Photo 3">
            </div>
            <button class="carousel-button prev-button" onclick="moveSlide(-1)">❮</button>
            <button class="carousel-button next-button" onclick="moveSlide(1)">❯</button>
        </div>-->
    
    

    <!-- About Section -->
        <div id="about-home">
            <section class="about hero" >
                <div>
                    <img src="images/home3.jpg" alt="" height="800px">
                </div>
                <div class="text-block">
                    <h1>Who are we?</h1>
                    <p>We are a premium clothing brand dedicated to providing men with the finest tuxedos, suits, and shirts that exude elegance, comfort, and timeless appeal. Whether you're dressing for a special occasion, a business meeting, or simply want to look your best, our curated collection is designed to cater to every man who values quality and craftsmanship.</p>
                </div>    
            </section>
            <section class="about hero2" >
                <div class="text-block">
                    <h1>Why would you choose us?</h1>
                    <p>Because at Royal Place, we believe that every man deserves to feel confident in what he wears. That's why we meticulously select the finest fabrics, employ expert tailoring techniques, and pay attention to every detail. From classic, tailored suits to modern, stylish tuxedos, and versatile shirts, our pieces are made to fit you perfectly, ensuring that you look and feel your best in any setting.</p>
                </div>
                <div>
                    <img src="images/home4.jpg" alt="" height="800px">
                </div>    
            </section>
            
        </div>
    <!-- Featured Products -->
        <div id="featured-home">
        <section class="featured-products">
            <p style="margin: 50px; font-size: 1.5rem;">Our mission is simple: to help men elevate their style effortlessly. Discover our collection today, and experience the difference of wearing clothing that is crafted with care, designed with intention, and tailored just for you.</p>
            <h2 style="font-size: 2rem; margin: 50px;">Browse Our Catalog</h2>
            <div class="product-grid">
                <!-- Repeat this block for each product -->
                <div class="product-card">
                    <a href="/products"><img src="images/Suit.jpg" alt="Product 1" height="300"></a>
                </div>
                <div class="product-card">
                    <a href="/products"><img src="images/Tux.jpg" alt="Product 1" height="300"></a>
                </div>
                <div class="product-card">
                    <a href="/products"><img src="images/Shirts.jpg" alt="Product 1" height="300"></a>
                </div>
                <div class="product-card">
                    <a href="/products"><img src="images/safaris.jpg" alt="Product 1" height="300"></a>
                </div>
            </div>
        </section>
        </div>
    </div>
    <%- include('partials/footer.ejs') %>
