<%- include('partials/header.ejs') %>

<div id="main-container">
    <section class="product-list">
        <!-- Suits Picture -->
        <h1 style="font-size: 2rem; margin: 50px;">Our products</h1>
        <div class="product-grid">
            <div class="product-card">
                <div class="carousel-container" id="carousel1">
                    <div class="carousel-slide">
                        <img src="images/Suits1/1.jpg" alt="Photo 1">
                        <img src="images/Suits1/2.jpg" alt="Photo 2">
                        <img src="images/Suits1/3.jpg" alt="Photo 3">
                        <img src="images/Suits1/4.jpg" alt="Photo 4">
                        <img src="images/Suits1/5.jpg" alt="Photo 5">
                        <img src="images/Suits1/6.jpg" alt="Photo 6">
                        <img src="images/Suits1/7.jpg" alt="Photo 7">
                    </div>
                    <button class="carousel-button prev-button">❮</button>
                    <button class="carousel-button next-button">❯</button>
                </div>
                <h3>Double Breasted Suits</h3>
                <!-- <p>Short description</p> -->
            </div>
            <div class="product-card">
                <div class="carousel-container" id="carousel2">
                    <div class="carousel-slide">
                        <img src="images/Suits2/1.jpg" alt="Photo 1">
                        <img src="images/Suits2/2.jpg" alt="Photo 2">
                        <img src="images/Suits2/3.jpg" alt="Photo 3">
                        <img src="images/Suits2/4.jpg" alt="Photo 4">
                        <img src="images/Suits2/5.jpg" alt="Photo 5">
                        <img src="images/Suits2/6.jpg" alt="Photo 6">
                        <img src="images/Suits2/7.jpg" alt="Photo 7">
                        <img src="images/Suits2/8.jpg" alt="Photo 8">
                    </div>
                    <button class="carousel-button prev-button">❮</button>
                    <button class="carousel-button next-button">❯</button>
                </div>
                <h3>Three Piece Suits</h3>
                <!-- <p>Short description</p> -->
            </div>
            <div class="product-card">
                <div class="carousel-container" id="carousel3">
                    <div class="carousel-slide">
                        <img src="images/Suits3/1.png" alt="Photo 1">
                        <img src="images/Suits3/2.png" alt="Photo 2">
                        <img src="images/Suits3/3.png" alt="Photo 3">
                        <img src="images/Suits3/4.png" alt="Photo 4">
                        <img src="images/Suits3/5.png" alt="Photo 5">
                    </div>
                    <button class="carousel-button prev-button">❮</button>
                    <button class="carousel-button next-button">❯</button>
                </div>
                <h3>Safari Suits</h3>
                <!-- <p>Short description</p> -->
            </div>
        </div>
        <!-- Shirts Picture -->
        <div class="product-grid">
            <div class="product-card">
                <div class="carousel-container" id="carousel4">
                    <div class="carousel-slide">
                        <img src="images/Shirts1/1.jpg" alt="Photo 1">
                        <img src="images/Shirts1/2.jpg" alt="Photo 2">
                        <img src="images/Shirts1/3.jpg" alt="Photo 3">
                    </div>
                    <button class="carousel-button prev-button">❮</button>
                    <button class="carousel-button next-button">❯</button>
                </div>
                <h3>Black Shirts</h3>
                <!-- <p>Short description</p> -->
            </div>
            <div class="product-card">
                <div class="carousel-container" id="carousel5">
                    <div class="carousel-slide">
                        <img src="images/Shirts2/1.jpg" alt="Photo 1">
                        <img src="images/Shirts2/2.jpg" alt="Photo 2">
                        <img src="images/Shirts2/3.jpg" alt="Photo 3">
                    </div>
                    <button class="carousel-button prev-button">❮</button>
                    <button class="carousel-button next-button">❯</button>
                </div>
                <h3>White Shirts</h3>
                <!-- <p>Short description</p> -->
            </div>
            <div class="product-card">
                <div class="carousel-container" id="carousel6">
                    <div class="carousel-slide">
                        <img src="images/Tux/1.png" alt="Photo 1">
                        <img src="images/Tux/2.png" alt="Photo 2">
                    </div>
                    <button class="carousel-button prev-button">❮</button>
                    <button class="carousel-button next-button">❯</button>
                </div>
                <h3>Tuxedos</h3>
                <!-- <p>Short description</p> -->
            </div>
        </div>
        <!-- Shirts Picture -->
        <div class="product-grid">
            <div class="product-card">
                <div class="carousel-container" id="carousel7">
                    <div class="carousel-slide">
                        <img src="images/Suits4/1.jpg" alt="Photo 1">
                        <img src="images/Suits4/2.jpg" alt="Photo 2">
                        <img src="images/Suits4/3.jpg" alt="Photo 3">
                        <img src="images/Suits4/4.jpg" alt="Photo 4">
                        <img src="images/Suits4/5.jpg" alt="Photo 5">
                        <img src="images/Suits4/6.jpg" alt="Photo 6">
                        <img src="images/Suits4/7.jpg" alt="Photo 7">
                    </div>
                    <button class="carousel-button prev-button">❮</button>
                    <button class="carousel-button next-button">❯</button>
                </div>
                <h3>Suede Jacket</h3>
                <!-- <p>Short description</p> -->
            </div>
            <div class="product-card">
                <div class="carousel-container" id="carousel7">
                    <div class="carousel-slide">
                        <img src="images/Suits5/1.jpg" alt="Photo 1">
                        <img src="images/Suits5/2.jpg" alt="Photo 2">
                        <img src="images/Suits5/3.jpg" alt="Photo 3">
                        <img src="images/Suits5/4.jpg" alt="Photo 4">
                        <img src="images/Suits5/5.jpg" alt="Photo 5">
                        <img src="images/Suits5/6.jpg" alt="Photo 6">
                        <img src="images/Suits5/7.jpg" alt="Photo 7">
                    </div>
                    <button class="carousel-button prev-button">❮</button>
                    <button class="carousel-button next-button">❯</button>
                </div>
                <h3>Suits</h3>
                <!-- <p>Short description</p> -->
            </div>
            <div class="product-card">
                <div class="carousel-container" id="carousel9">
                    <div class="carousel-slide">
                        <img src="images/Suits6/1.png" alt="Photo 1">
                        <img src="images/Suits6/2.png" alt="Photo 2">
                        <img src="images/Suits6/3.png" alt="Photo 3">
                        <img src="images/Suits6/4.png" alt="Photo 4">
                    </div>
                    <button class="carousel-button prev-button">❮</button>
                    <button class="carousel-button next-button">❯</button>
                </div>
                <h3>Double Breasted Suits</h3>
                <!-- <p>Short description</p> -->
            </div>
        </div>
    </section>
</div>

<%- include('partials/footer.ejs') %>